.tabs {
    display: flex;
    border-bottom: solid 2px var(--grayscale);
    .tab {
        border-top: solid 2px var(--bg-color);
        cursor: pointer;
        padding: .5rem 2rem;
        color: var(--darken-grayscale);
        font-size: 1.2rem;

        &:hover {
            background: var(--grayscale);
            transition: .3s;
        }
    }
    .tab.selected {
        border-top: solid 2px var(--primary-color);
        color: var(--primary-color);
    }
}


@media (max-width: 660px) {
    .tabs {
        overflow: hidden;
        justify-content: space-around;
        .tab {
            font-size: 1rem !important;
            padding: .5rem .8rem !important;
            width: 100%;
            text-align: center;
        }
    }
}