<a href="#" class="header-logo">
    HS
</a>
<nav class="header-nav">
    <ul class="header-nav__menu">
        <li class="header-nav__menu_item"><a href="#">Início</a></li>
        <li class="header-nav__menu_item"><a href="#">Serviços</a></li>
        <li class="header-nav__menu_item"><a href="#">Parceiros</a></li>
        <li class="header-nav__menu_item"><a href="#">Vantagens</a></li>
        <li class="header-nav__menu_item">
            <a href="#" class="primary-button">
                Projetos
            </a>
        </li>
    </ul>
</nav>