<a class="header-logo">
    HS
</a>
<nav class="header-nav">
    <ul class="header-nav__menu">
        <li class="header-nav__menu_item"><a (click)="scrollTo('init-section')">Início</a></li>
        <li class="header-nav__menu_item"><a (click)="scrollTo('about-section')">Sobre</a></li>
        <li class="header-nav__menu_item"><a (click)="scrollTo('tech-section')">Serviços</a></li>
        <li class="header-nav__menu_item"><a (click)="scrollTo('tech-section')">Projetos</a></li>
        <li class="header-nav__menu_item">
            <button class="primary-button">
                Contato
            </button>
        </li>
    </ul>
    <div class="header-nav__menu_btn">
        <button>
            <i class='bx bx-menu'></i>
        </button>
    </div>
</nav>