<a class="header-logo">
    HS
</a>
<nav class="header-nav">
    <ul class="header-nav__menu">
        <li class="header-nav__menu_item"><a (click)="scrollTo('init-section')">Início</a></li>
        <li class="header-nav__menu_item"><a (click)="scrollTo('about-section')">Sobre mim</a></li>
        <li class="header-nav__menu_item"><a (click)="scrollTo('tech-section')">Tecnologias</a></li>
        <li class="header-nav__menu_item"><a (click)="scrollTo('certifications-section')">Certificações</a></li>
        <li class="header-nav__menu_item">
            <a href="#" class="primary-button">
                Meus Projetos
            </a>
        </li>
    </ul>
</nav>