.content {
    .presentation {
        background: var(--primary-color);
        height: 500px;
        display: flex;
        border-bottom-right-radius: 90%;
        border-bottom-left-radius: 20%;
        box-shadow: 0 0.1rem 0.2rem #ccc;
        justify-content: space-between;

        .title {
            align-self: center;
            padding: 0 8rem;
            width: 700px;

            h1 {
                font-size: 6rem;
                line-height: 7rem;
                color: var(--bg-color);
                user-select: none;
                text-shadow: 0 0.1rem 0.1rem var(--secondary-color);
            }
            h2 {
                font-size: 1.8rem;
                font-weight: 100;
                color: var(--bg-color);
                user-select: none;
            }

            .social-media-btns {
                margin-top: 1rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 150px;
                a {
                    background: var(--bg-color);
                    cursor: pointer;
                    border-radius: 50%;
                    padding: 8px 8px 4px 8px;
                    box-shadow: 0 0.1rem 0.1rem var(--secondary-color);
                    transition: .3s;
                    i {
                        font-size: 1.4rem;
                        transition: inherit;
                        color: var(--primary-color);
                    }
                    &:hover {
                        background: var(--secondary-color);
                        i {
                            color: var(--bg-color);
                        }
                    }
                    &:active {
                        background: var(--bg-color);
                        i {
                            color: var(--primary-color);
                        }
                    }
                }
            }
        }

        .photo-profile {
            img {
                height: 100%;
                border-bottom-left-radius: 50%;
                border-top-left-radius: 50%;
                box-shadow: 0 0.1rem 0.2rem #ccc;
                user-select: none;
            }
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 6rem;

        h3 {
            font-size: 3rem;
            font-weight: 500;
            color: var(--primary-color);
        }

        app-tabs {
            align-self: baseline;
            width: 100%;
            div {
                margin-top: .5rem;
                width: 100%;
                height: 300px;
                overflow-y: scroll;
            }
        }
    }

    

    .technologies {
        margin: 2rem 0;
        padding: 3rem 6rem;
        height: 500px;
        background: var(--primary-color);
        box-shadow: 0 0.1rem 0.2rem #ccc;
        border-top-left-radius: 10%;
        border-bottom-right-radius: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h3 {
            font-size: 3rem;
            font-weight: 500;
            color: var(--bg-color);
        }

        &__list {
            width: 1000px;
            display: flex;
            justify-content: center;
            gap: 5rem;
            flex-wrap: wrap;

            img {
                width: 110px;
                border-radius: 3px;
                border-top-right-radius: 20px;
                border-bottom-left-radius: 20px;
                box-shadow: 0 0.1rem 0.2rem var(--secondary-color);
            }
        }
    }

    .certifications {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 3rem;
            font-weight: 500;
            color: var(--primary-color);
        }

        &__list {
            padding: 1rem 5rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            flex-wrap: wrap;
        }

        &__item {
            display: flex;
            flex-direction: column;
            padding: 1rem;
        }
    }
}