<div class="education">
    <div *ngFor="let educationItem of educationSelectList" class="education-item">
      <p class="education__period">{{ educationItem.period }}</p>
      <h1 class="education__title">{{ educationItem.title }}</h1>
      <h2 class="education__university">{{ educationItem.university }}</h2>
      <div class="education__skills">
        <strong>Habilidades: </strong>
        <ng-container *ngFor="let skill of educationItem.skills; let last = last">
          <span>{{ skill }} </span><span *ngIf="!last">&bull; </span>
        </ng-container>
      </div>
    </div>
</div>