<div class="education">
    <p class="education__period">2020 - 2021</p>
    <h1 class="education__title">CST em Análise e Desenvolvimento de Sistemas</h1>
    <h2 class="education__university">CEUNSP</h2>
    <div class="education__skills">
        <strong>Habilidades:</strong>
        <span> Java &bull;</span>
        <span> C++ &bull;</span>
        <span> Python &bull;</span>
        <span> HTML &bull;</span>
        <span> CSS &bull;</span>
        <span> Javascript &bull;</span>
        <span> React &bull;</span>
        <span> MySQL &bull;</span>
        <span> SQLite &bull;</span>
        <span> C#</span>
    </div>
</div>

<div class="education">
    <p class="education__period">2018 - 2020</p>
    <h1 class="education__title">Técnico em Administração</h1>
    <h2 class="education__university">Escola Humanidade</h2>
    <div class="education__skills">
        <strong>Habilidades:</strong>
        <span> Comunicação &bull;</span>
        <span> Inglês &bull;</span>
        <span> Atendimento &bull;</span>
        <span> Organização &bull;</span>
        <span> Pacote Office &bull;</span>
        <span> Informática</span>
    </div>
</div>

<div class="education">
    <p class="education__period">2018 - 2020</p>
    <h1 class="education__title">Técnico em Administração</h1>
    <h2 class="education__university">Escola Humanidade</h2>
    <div class="education__skills">
        <strong>Habilidades:</strong>
        <span> Comunicação &bull;</span>
        <span> Inglês &bull;</span>
        <span> Atendimento &bull;</span>
        <span> Organização &bull;</span>
        <span> Pacote Office &bull;</span>
        <span> Informática</span>
    </div>
</div>

<div class="education">
    <p class="education__period">2018 - 2020</p>
    <h1 class="education__title">Técnico em Administração</h1>
    <h2 class="education__university">Escola Humanidade</h2>
    <div class="education__skills">
        <strong>Habilidades:</strong>
        <span> Comunicação &bull;</span>
        <span> Inglês &bull;</span>
        <span> Atendimento &bull;</span>
        <span> Organização &bull;</span>
        <span> Pacote Office &bull;</span>
        <span> Informática</span>
    </div>
</div>