.primary-button {
    background: var(--primary-color);
    color: var(--bg-color) !important;
    font-weight: 500;
    border: none;
    cursor: pointer;
    padding: .8rem 1.5rem;
    border-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all .5s;

    &:hover {
        background: var(--secondary-color);
        color: var(--bg-color);
    }
}

.secondary-button {
    background: var(--secondary-color);
    color: var(--bg-color);
    font-weight: 500;
    border: none;
    cursor: pointer;
    padding: .8rem 1.5rem;
    border-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: all .5s;

    &:hover {
        background: var(--bg-color);
        color: var(--primary-color);
    }
}

.primary-icon-button {
    border: none;
    background: var(--secondary-color);
    cursor: pointer;
    transition: .3s;
    padding: .5rem;
    border-radius: 10px;
    //border: solid 2px var(--secondary-color);
    display: flex;
    box-shadow: 0.1rem 0.0rem .2rem 0 var(--darken-grayscale);

    i {
        font-size: 1.8rem;
        transition: inherit;
        color: var(--bg-color);
    }

    &:hover {
        background: var(--bg-color);
        i {
            color: var(--primary-color);
        }
    }

    &:active {
        background: var(--bg-color);
        i {
            color: var(--primary-color);
        }
    }
}