:root {
    --primary-color: #0471A6;
    --secondary-color: #061826;
    --tertiary-color: #3685B5;
    --bg-color: #FDFFFC;
    --danger-color: #E71D36;
    --grayscale: #06182613;
    --darken-grayscale: #06182657;
}