<p>
    Sou desenvolvedor de sistemas com mais de um ano e meio de experiência profissional, atuando desde julho de 2022 na área,
    realizei diversos tipos de projetos como, landing pages, pequenas aplicações mobile, sistemas web, integrações e criações de API, entre outros.
</p>

<p>
    Sempre gostei do processo de criação, por isso comecei meus estudos na área e acredito que isso tem sido um grande aliado no meu dia a dia como
    desenvolvedor. Mas apenas ter ideias não basta, por isso, sigo me atualizando com as principais tecnologias e aprendendo para assim ter os melhores resultados
    possíveis.
</p>